# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PM2 логи
*.log
.pm2/

# Временные файлы
*.tmp
*.temp
.DS_Store
Thumbs.db

# Локальные настройки
.env
.env.local
.env.production

# Build папки
dist/
build/

# IDE файлы
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
*.pid
*.seed
*.pid.lock

# Coverage отчеты
coverage/
.nyc_output/

# Кэш
.cache/
*.tgz
*.tar.gz
